body{
  margin: 0;
  background: rgba(0, 67, 66);
}
.app{
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 86vh;
  font-size: 16px;
  width: 60vw;
  background: rgba(0, 0, 0, 0.6);
  padding: 2%;
  border-radius: 20px;
  margin: 4% 40% 4% 4%;
}
.nav{
  flex-basis: 30%;
  background: rgba(255, 255, 255, 0.5);
}

.messages-container{
  flex-basis: 70%;
  width: 100%;
  margin-bottom: 0;
  height: 100%;
  padding: 2%;
  background: rgba(255, 255, 255, 0.1);
  color: rgb(255, 255, 255);
}
.support, .users{
  height: 50%;
  margin-bottom: 0;
}
.channels, .users, .messages{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.channels, .users{
  height: 70%;
}
.messages{
  height: 94%;
}
.channels > ul, .messages > ul, .users > ul{
  flex: 1;
  overflow-y: auto;
}

.message > .author{
  flex-basis: 100%;
}
.message > .body{
  flex-basis: 100%;
}
.active {
  background-color: rgba(0, 0, 0, 0.2);
}
.timestamp{
  color: #808080;
  font-style: italic;
  padding-left: 10px;
  font-size: 13px;
}
.form-group{
  margin-bottom: 0;
}
ul{
  list-style-type:none;
  padding: 0;
}
li{
  padding: 0 4px 0 4px;
}
a{
  cursor: pointer;
}
